* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.menu {
    margin-top: 40px;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background: #2980b9;

}

.item {
    border-top: 1px solid #2980b9;
    overflow: hidden;
}

.menu_btn {
    font-size: 14px;
    font-weight: bolder;
    display: block;
    padding: 12px 20px;
    background: #3498db;
    color: white;
    position: relative;
}

.menu_btn i {
    margin-right: 10px;

}

.smenu {
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a {
    display: block;
    padding: 16px 26px;
    color: white;
    font-size: 12px;
    margin: 4px 0;
    position: relative;
}

.card {
    margin-top: 40px;
}

/** Horizontal Menu **/
#horizontal-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    height: 40px;
    width: 100%;
    z-index: 999;

}

#modal label {
    font-weight: bold;
}
.tooltip-inner {
    height: 180px;
    width: 180px;
    overflow: hidden;
    padding: 0;
}